In [1]:
import utils
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
symbol = 'ADBE'
print ('Data Generated for {}'.format(symbol))

Data Generated for ADBE

#### *ReportSnapshot: Company overview*
#### *ReportsFinSummary: Financial summary*
#### *ReportRatios: Financial ratios*
#### *ReportsFinStatements: Financial statements*
#### *RESC: Analyst estimates*
#### *CalendarReport: Company calendar from Wall Street Horizons*

In [3]:
resc = utils.read_fundamental(reqId = 0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'RESC')

Reading XML data ...

In [4]:
reportsnapshot = utils.read_fundamental(reqId=0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'ReportSnapshot')

Reading XML data ...

In [5]:
reportsfinsummary = utils.read_fundamental(reqId=0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'ReportsFinSummary')

Reading XML data ...

In [6]:
reportsfinstatements = utils.read_fundamental(reqId = 0,
                             symbol = symbol, 
                             sec_type = 'STK', 
                             exch = 'SMART', 
                             prim_exch = 'NASDAQ', 
                             curr = 'USD',
                             reportType = 'ReportsFinStatements')

Reading XML data ...

In [7]:
analyst, resc_ann, resc_q = utils.parse_resc(parser = resc)
snap, estimate, brief, business_summary, address = utils.parse_reportsnapshot(parser = reportsnapshot)
#fin = utils.parse_reportsfinsummary(parser = reportsfinsummary)
quarter, annual = utils.parse_reportsfinstatements(parser = reportsfinstatements)

Parsing resc data started ...
Parsing reportsnapshot data started...
Parsing reportsfinstatements data started...

In [8]:
snap

           Company Type          Desc Exchange    Index              Industry
Adobe Inc  Equity Issue  Common Stock   NASDAQ  S&P 500  Application Software

In [9]:
analyst

,Exchange,Symbol,Sector,CLPRICE,SHARESOUT,MARKETCAP,52WKHIGH,52WKLOW
Adobe Inc,NASDAQ,ADBE,Technology,282.130000,485438762,136956.8379,313.1100,204.9500

In [10]:
estimate

,ConsRecom,ProjDPS,ProjEPS,ProjEPSQ,ProjLTGrowthRate,ProjPE,ProjProfit,ProjSales,ProjSalesQ,TargetPrice
Adobe Inc,2.0357,0.0,7.8388,2.2574,16.1667,36.90488,3856.6064,11153.7929,2972.8089,316.76

In [14]:
resc_q.head()

,NAV,OPROFIT,CAPEX,NPROFIT,ROA,CPS,EPS,REVENUE,EBIT,BVPS,NPROFITREP,PPROFIT,EPSREP,PPROFITREP,EBITDA,NDEBT,ROE,DPS
2019-05,NaN,NaN,85.492,900.604,NaN,2.25,1.83,2744.28,1049.93,20.3539,632.593,NaN,1.29,NaN,1098.83,654.627,36.38,0
2019-02,NaN,NaN,65.268,844,NaN,2.049,1.65,2580,984.6,20.2076,674.241,NaN,1.31,NaN,1129.5,-3226.26,NaN,NaN
2018-11,-6.74,NaN,62.563,942.203,NaN,2.24,1.9,2440,988.447,19.2,732.24,NaN,1.48,NaN,1029.77,895.838,41.36,0
2018-08,NaN,NaN,63.558,859.764,NaN,1.92,1.73,2291.08,924.515,18.1223,666.291,NaN,1.34,NaN,966.59,-3069.82,39.15,0
2018-05,NaN,NaN,45.316,825.427,19.3,1.96,1.66,2195.36,877.635,17.6774,663.167,NaN,1.33,NaN,869.409,-4460.01,38.08,0

In [12]:
quarter.columns.values

array(['Revenue', 'Total Revenue', 'Cost of Revenue, Total',
       'Gross Profit', 'Selling/General/Admin. Expenses, Total',
       'Research & Development', 'Depreciation/Amortization',
       'Total Operating Expense', 'Operating Income',
       'Interest Inc.(Exp.),Net-Non-Op., Total', 'Other, Net',
       'Net Income Before Taxes', 'Provision for Income Taxes',
       'Net Income After Taxes', 'Net Income Before Extra. Items',
       'Net Income', 'Income Available to Com Excl ExtraOrd',
       'Income Available to Com Incl ExtraOrd', 'Diluted Net Income',
       'Diluted Weighted Average Shares',
       'Diluted EPS Excluding ExtraOrd Items',
       'DPS - Common Stock Primary Issue', 'Diluted Normalized EPS',
       'Cash & Equivalents', 'Short Term Investments',
       'Cash and Short Term Investments',
       'Accounts Receivable - Trade, Net', 'Total Receivables, Net',
       'Prepaid Expenses', 'Other Current Assets, Total',
       'Total Current Assets', 'Property/Plant/Equipment, Total - Net',
       'Goodwill, Net', 'Intangibles, Net',
       'Other Long Term Assets, Total', 'Total Assets',
       'Accounts Payable', 'Accrued Expenses',
       'Notes Payable/Short Term Debt',
       'Current Port. of  LT Debt/Capital Leases',
       'Other Current liabilities, Total', 'Total Current Liabilities',
       'Long Term Debt', 'Total Long Term Debt', 'Total Debt',
       'Deferred Income Tax', 'Other Liabilities, Total',
       'Total Liabilities', 'Preferred Stock - Non Redeemable, Net',
       'Common Stock, Total', 'Additional Paid-In Capital',
       'Retained Earnings (Accumulated Deficit)',
       'Treasury Stock - Common', 'Unrealized Gain (Loss)',
       'Other Equity, Total', 'Total Equity',
       "Total Liabilities & Shareholders' Equity",
       'Total Common Shares Outstanding',
       'Tangible Book Value per Share, Common Eq',
       'Net Income/Starting Line', 'Depreciation/Depletion',
       'Deferred Taxes', 'Non-Cash Items', 'Cash Taxes Paid',
       'Cash Interest Paid', 'Changes in Working Capital',
       'Cash from Operating Activities', 'Capital Expenditures',
       'Other Investing Cash Flow Items, Total',
       'Cash from Investing Activities', 'Financing Cash Flow Items',
       'Issuance (Retirement) of Stock, Net',
       'Cash from Financing Activities', 'Foreign Exchange Effects',
       'Net Change in Cash', 'Issuance (Retirement) of Debt, Net',
       'Total Extraordinary Items'], dtype=object)

In [13]:
quarter

,Revenue,Total Revenue,"Cost of Revenue, Total",Gross Profit,"Selling/General/Admin. Expenses, Total",Research & Development,Depreciation/Amortization,Total Operating Expense,Operating Income,"Interest Inc.(Exp.),Net-Non-Op., Total",...,Capital Expenditures,"Other Investing Cash Flow Items, Total",Cash from Investing Activities,Financing Cash Flow Items,"Issuance (Retirement) of Stock, Net",Cash from Financing Activities,Foreign Exchange Effects,Net Change in Cash,"Issuance (Retirement) of Debt, Net",Total Extraordinary Items
Quarter,,,,,,,,,,,,,,,,,,,,,
2019-08-30,2834.13,2834.13,415.963,2418.16,1031.57,489.827,42.954,1980.31,853.812,-20.556,...,-300.384,13.209,-287.175,-412.624,-1767.76,-2180.38,-11.583,566.272,NaN,NaN
2019-05-31,2744.28,2744.28,407.488,2336.79,1068.26,475.958,43.026,1994.73,749.547,-48.054,...,-210.76,88.915,-121.845,-376.706,-1176.09,-1556.01,-4.783,440.135,-3.219,NaN
2019-03-01,2600.95,2600.95,397.286,2203.66,997.627,464.637,46.566,1906.12,694.83,-6.334,...,-65.268,-66.65,-131.918,-352.575,-428.406,-783.912,-1.547,96.071,-2.931,NaN
2018-11-30,2464.62,2464.62,359.261,2105.36,935.928,415.958,32.932,1744.08,720.546,-26.757,...,-266.579,-4418.72,-4685.3,-393.193,-1859.01,-5.568,-1.738,-663.297,2246.635,-6.0
2018-08-31,2291.08,2291.08,295.492,1995.58,854.147,398.957,23.874,1572.47,718.606,-28.265,...,-204.016,-1342.4,-1546.42,-368.91,-1560.26,-1930.3,-3.523,-558.928,-1.132,-24.0

In [14]:
int(datetime.strptime(str(quarter.index[0]), '%Y-%m-%d').timestamp())

1567137600